<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form
    action="https://yimbyenglewood.us21.list-manage.com/subscribe/post?u=c39e3cef634e30db3610d86c6&amp;id=f93e2c1812&amp;f_id=00a185e1f0"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate black-80 sans-serif"
    target="_self"
  >
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <label class="f6 b db mb1 mt3 sans-serif mid-gray" for="mce-EMAIL"
          >Email Address
        </label>
        <input
          type="email"
          value=""
          name="EMAIL"
          class="required email w-100 f5 pv3 ph3 bg-light-gray bn"
          id="mce-EMAIL"
          required
        />
        <div class="requirements f6 gray glow i ph3 overflow-hidden">
          An email address is required.
        </div>
        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME" class="f6 b db mb1 mt3 sans-serif mid-gray"
          >First Name
        </label>
        <input
          type="text"
          value=""
          name="FNAME"
          class="w-100 f5 pv3 ph3 bg-light-gray bn"
          id="mce-FNAME"
        />
        <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME" class="f6 b db mb1 mt3 sans-serif mid-gray"
          >Last Name
        </label>
        <input
          type="text"
          value=""
          name="LNAME"
          class="w-100 f5 pv3 ph3 bg-light-gray bn"
          id="mce-LNAME"
        />
        <span id="mce-LNAME-HELPERTEXT" class="helper_text"></span>
      </div>
      <div id="mce-responses" class="clear foot">
        <div
          class="response"
          id="mce-error-response"
          style="display: none"
        ></div>
        <div
          class="response"
          id="mce-success-response"
          style="display: none"
        ></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input
          type="text"
          name="b_c39e3cef634e30db3610d86c6_f93e2c1812"
          tabindex="-1"
          value=""
        />
      </div>
      <input
        type="submit"
        value="Subscribe"
        name="subscribe"
        id="mc-embedded-subscribe"
        class="button db w-100 mv2 white pa3 bn hover-shadow hover-bg-black bg-animate bg-black"
      />
      <p class="brandingLogo">
        <a
          href="http://eepurl.com/indnP-"
          title="Mailchimp - email marketing made easy and fun"
          ><img
            src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"
        /></a>
      </p>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
